package ${basepackage}.dto;

import java.util.*;
import org.springframework.web.servlet.pojos.PrintableAndSerializeableDTO;

public class ${tableClassName}DTO extends PrintableAndSerializeableDTO {
	private static final long serialVersionUID = 1L;
	
	#foreach( $columnModel in $columnList )
	
	/**  ${columnModel.columnComment}*/
	private ${columnModel.javaType} ${columnModel.property};
	#end

	#foreach( $columnModel in $columnList )
	
	public ${columnModel.javaType} get${columnModel.methodName}() {
		return ${columnModel.property};
	}

	public void set${columnModel.methodName}(${columnModel.javaType} ${columnModel.property}) {
		this.${columnModel.property} =${columnModel.property};
	}
	#end
}
